$white: #fff;
$main: #fcfcfc;
$lightgold: #e4c086;
$gold: #ebbe7d;
$error: #fd4646;
$purple: #1b0929;
$gray100: #999999;
$gray200: #6d6d6d;
$gray400: #353535;
$gray500: #282828;
$gray800: #1c1c1c;
$gray900: #131313;
$black: #0b0b0a;
